site_name: OpenScience Documentation
nav:
  - Home: index.md
  - Pyproject: pyprojecttoml.md

theme:
  name: mkdocs

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
